<html>

<head>
  <title>Tallerpokemon quiz</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Oldenburg&display=swap" rel="stylesheet">
</head>

<body>


  <h1>Guess which Pokémon is taller?</h1>


  <div id="app" class='wrapper'>
    <!--<img v-for="pic in pics" v-bind:src="gif.images.fixed_height.url">-->
    <div v-on:click="select(p1)" v-bind:class="{selected: p1 == guess}">
    <img v-bind:src="p1.img">
    <h3>{{p1.name}}</h3>
  </div>


    <img v-bind:src="p2.img">

\    <!-- <img v-for="gif in gifs" v-bind:src="gif.images.fixed_height.url"> -->



    <div>
      <button v-on:click='checkResult'>Submit my guess</button>
    </div>

      {{$data}}
  </div>



  <script type="text/javascript" src="tallerpokemon.js"></script>
</body>

</html>
