body{
  color:#3661AB;
  font-family: 'Oldenburg',cursive;
  background-image: url('https://i.redd.it/oexlfzwy78ex.png');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;

}

.container{

}
button{
  font-family: 'Oldenburg',cursive;
  color:#3661AB;
  background-color: #FFCA1C;
  font-size: 20;
  text-align: center;
  border-radius: 12px;
  border:3px solid #3661AB;
  height: 63px;
  width: 280px;

}

.card{
  background-color: #EEF4FF;
  margin: 15px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left:30px;
  padding-right: 30px;
  border-radius: .5rem;
}

.card img{
  width:170px;
  height:auto;
}
.selected{
  border-style: outset;
  border: 5px solid #5894FC;
  box-shadow: 5px 5px 20px rgba(138, 181, 255, .9);
}

h2{
  color:#E76A67;
  text-shadow: 0 0 5px #FFCA1C;
}

#disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
